@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Reset */
*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
img
{
  display: block;
}
/* |||||||||| INIZIO |||||||||| */

/* |||||||||| HEADER |||||||||| */
header
{
  background-image: url('../img/jumbo.png');
  background-size: cover;
}
header h2
{
  font-size: 3rem;
}
.testo-centrale
{
  font-size: 1.2rem;
  font-weight: 500;
}
.testo-centrale p
{
  margin: 0 0 2vw 0;
  font-size: 1rem;
  line-height: 1.5rem;
}
/* .arrow-down::before
{
  content: "\2193";
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  margin: 0 0.5vw 0 0;
} */
.nav-btn-accedi
{
  font-weight: 600;
}
/* |||||||||| NAV |||||||||| */
nav
{
  padding: 1vw 1vw 3vw;
}
nav li
{
  margin: 0 1vw;
  font-size: bold;
}
nav ul
{
  font-weight: bold;
}
/* ---------- Link Testo Bianco ---------- */
header, nav, header a, nav a, footer a
{
  color: white;
}
.header-sezione-bottoni
{
  margin: 0 0 10vw;
}
.freccia-giu
{
  font-size: 1rem;
  margin: 0 0.6vw 0 0;
  font-weight: bold;
}
.btn-apribrowser
{
  background-color: #23272a;
}
.btn-scaricamac, .btn-apribrowser
{
  padding: 0.7vw 1.5vw; 
  margin: 0 1vw;
}
/* |||||||||| MAIN |||||||||| */
.main-sezione-ltr, .main-sezione-rtl
{
  padding: 5vw 0;
}
.main-sezione-ltr
{
  text-align: right;
}
.main-sezione-rtl
{
  text-align: left;
}
.main-img
{
  flex-basis: 68%;
  padding: 2vw;
}
.main-descrizione-img
{
  flex-basis: 30%;
  padding: 2vw;
  font-size: 2rem;
  text-align: left;
}
.main-descrizione-img p
{
  font-size: 1.2rem;
  font-weight: 600;
  margin: 2vw 0;
}
.main-img-column, .main-img-column img
{
  width: 100%;
}
.main-descrizione-img-column
{
  width: 100%;
  padding: 2vw;
  font-size: 3rem;
  margin: 10vw 0 0;
}
.main-descrizione-img-column h2
{
  font-size: 3rem;
}
.main-descrizione-img-column p
{
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1vw 0;
}
.main-testofinale
{
  font-size: 1.4rem;
  font-weight: 800;
  background-image: url('../img/stars.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 35vw;
}
.main-testofinale-btn
{
  font-weight: 600;
  margin: 2vw 0 8vw;
  font-size: 1.2rem;
}
.main-testofinale-btn a
{
  padding: 0.6vw 1vw;
}
.btn
{
  background-color: #90a2df;
  width: 8vw;
  padding: 0.5vw;
  margin: 1vw 0;
}
.viola
{
  background-color: #91a0dc;
}
.testo-viola
{
  color: #758ad8;
}


/* |||||||||| FOOTER |||||||||| */
footer
{
  background-color: #23272a;
  color: white;
  padding: 5vw 0;
}
.footer-left
{
  flex-basis: 20%;
}
.footer-left h3
{
  font-size: 2rem;
  padding: 0 0 1vw;
}
.footer-left img
{
  width: 1vw;
  display: inline;
}
.footer-left span
{
  font-size: 0.8rem;
}
.footer-icone
{
  padding: 1vw 0;
}
.footer-icone i
{
  padding: 0 1vw 0 0;
}
.footer-right
{
  flex-basis: 75%;
}
.footer-right li
{
  padding: 0.4vw 0;
}
.footer-sezione-finale
{
  border-top: 2px solid #444f70;
}
.footer-sezionefinale-btn
{
  font-size: 0.8rem;
  background-color: #93a2de;
}
.grigiochiaro
{
  background-color: #f6f6f6;
}
.reverse
{
  rotate: 180deg;
}

/* |||||||||| HOVER |||||||||| */
nav img:hover
{
  opacity: 0.7;
  transition-duration: 300ms;
}
nav a:not(.nav-btn-accedi):hover
{
  border-bottom: 5px solid #223f97;
  border-top: 5px solid #223f97;
  border-radius: 50%;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  transition-duration: 300ms;
}
.nav-btn-accedi:hover,
.btn-scaricamac:hover
{
 background-color: rgb(202, 202, 202);
 transition-duration: 300ms;
}
.btn-apribrowser:hover
{
  background-color: rgb(70, 70, 70);
  transition-duration: 300ms;
}

.fa-twitter:hover
{
  color: #30a2ef;
  transition-duration: 300ms;
}
.fa-instagram:hover
{
  /* color: #f5008b; */
  color: #9e4a92;
  transition-duration: 300ms;
}
.fa-facebook:hover
{
  color: #4c68a8;
  transition-duration: 300ms;
}
.fa-youtube:hover
{
  color: #fd000d;
  transition-duration: 300ms;
}

.footer-sezione-finale :first-child:hover
{
  opacity: 0.8;
}

.main-testofinale-btn a:hover
{
  background-color: #7986b6;
  transition-duration: 300ms;
}
.footer-left span:hover
{
  font-size: 1.2rem;
  width: 1.8vw;
  transition-duration: 300ms;
}
.footer-left span a:hover
{
  color: rgb(194, 194, 194);
}
.footer-right h4:hover
{
  background: linear-gradient(to right, #788bd6, #aab4dd);
  width: 50%;
  border-radius: 30px;
  color: black;
  padding-left: 1vw;
  transition-duration: 300ms;
}
.footer-right a:not(.grow-1):hover
{
  border-top: 3px solid  #7790d8;
  border-bottom: 3px solid #223f97;
  border-radius: 50%;
  
  transition-duration: 100ms;
}
/* |||||||||| AREA TEST |||||||||| */


/* |||||||||| AREA TEST |||||||||| */





































/* Fine */